<ion-header>
  <ion-toolbar color="dark">
    <ion-title>{{ modalTitle }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-grid>
    <ion-row>
      <ion-col text-center>
        <ion-progress-bar *ngIf="captureProgress > 0" value="{{ captureProgress }}"></ion-progress-bar>
        <ion-item>
          <ion-textarea
            *ngIf="ocrResultComplete.data && ocrResultComplete.data.text; else notfound"
            autoGrow
            disabled
            readonly
            value="{{ ocrResultComplete.data.text }}">
          </ion-textarea>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col text-center>
        <ion-button *ngIf="ocrResultComplete.data && ocrResultComplete.data.text" (click)="copyTextToClipboard(ocrResultComplete.data.text)">Copy Text to Clipboard</ion-button>
        <ion-button (click)="closeModal()">{{ closeModalButton }}</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>