<ion-header>
  <ion-toolbar>
    <ion-title>{{ modalTitle }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col text-center>
        <ion-progress-bar
          *ngIf="(captureProgress > 0) && (captureProgress < 1)"
          value="{{ captureProgress }}"
        ></ion-progress-bar>
        <ion-item *ngIf="ocrResultComplete.data && ocrResultComplete.data.text">
          <ion-textarea
            autoGrow
            disabled
            readonly
            value="{{ ocrResultComplete.data.text }}"
          >
          </ion-textarea>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col text-center>
        <ion-button
          expand="block"
          color="primary"
          *ngIf="ocrResultComplete.data && ocrResultComplete.data.text"
          (click)="copyTextToClipboard(ocrResultComplete.data.text)"
          >Copy Text to Clipboard</ion-button
        >
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-row>
    <ion-col text-center>
      <ion-button expand="block" color="light" (click)="closeModal()"
        >Close</ion-button
      >
    </ion-col>
  </ion-row>
</ion-footer>
